<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Untitled Document</title>
    <link href="logn.css" rel="stylesheet" type="text/css" />
    <link
      href="https://fonts.googleapis.com/css?family=Play"
      rel="stylesheet"
    />
  </head>

  <body>
    <br />
    <h1 style="color:white;text-align: center;">REMS</h1>
    <div class="signin">
      <form action="login" method="POST">
        <h2 style="color:#fff;">Log In</h2>
        <input type="text" name="user" placeholder="Username" /><br /><br />
        <input type="password" name="pass" placeholder="Password" /><br /><br />
        <input type="submit" value="Log In" />
        <br /><br />
        
        <br /><br /><br /><br /><br /><br />
        Don't have account?<a
          href="/register"
          style="font-family:'Play', sans-serif;"
          >&nbsp;Sign Up</a
        >
      </form>
    </div>
  </body>
</html>
